* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif; }
header {
  background-color: #09b3d1; }

header {
  margin-bottom: 5px;
  background-color: #09b3d1;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  gap: 50px; }

main {
  margin: 0px 15%; }
  main h1 {
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
    color: rgba(214, 12, 12, 0.795); }
  main .contenedor {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 750px) {
      main .contenedor {
        display: flex;
        flex-direction: column; } }
    main .contenedor img {
      width: 325px;
      height: 325px;
      padding: 10px; }
  main .descripcion {
    margin-left: 10px;
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px; }
    main .descripcion .juego {
      text-align: center;
      color: chocolate; }
      @media (max-width: 750px) {
        main .descripcion .juego {
          color: #830f83;
          font-size: 25px; } }
    main .descripcion .izquierda {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-direction: row-reverse; }
    main .descripcion .barca {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px; }
      main .descripcion .barca img {
        width: 200px;
        height: 200px; }

footer {
  background-color: #09b3d1;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  footer a img {
    width: 100px;
    height: 100px; }

section {
  display: flex;
  gap: 20px; }
  section a i {
    font-size: 50px;
    color: black; }
  section a i {
    font-size: 50px;
    color: black; }
  section a i {
    font-size: 50px;
    color: black; }

/* RESPONSIVE DE LA GALERIA  */
