footer {
  background-color: rgb(9, 179, 209);
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer a img {
  width: 100px;
  height: 100px;
}

section {
  display: flex;
  gap: 20px;
}
section a i {
  font-size: 50px;
  color: black;
}
section a i {
  font-size: 50px;
  color: black;
}
section a i {
  font-size: 50px;
  color: black;
}

header {
  margin-bottom: 5px;
  background-color: rgb(9, 179, 209);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 750px) {
  header header {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  header .header {
    position: static;
  }
}

main {
  margin: 0px 25%;
}
main h1 {
  padding: 10px;
  font-size: 50px;
  font-weight: 400;
  color: rgba(214, 12, 12, 0.795);
}
main .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 750px) {
  main .contenedor {
    display: flex;
    flex-direction: column;
  }
}
main .contenedor img {
  width: 325px;
  height: 325px;
  padding: 10px;
}
main .descripcion {
  margin-left: 10px;
  align-self: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .descripcion .juego {
  text-align: center;
  color: chocolate;
}
@media (max-width: 750px) {
  main .descripcion .juego {
    color: rgb(131, 15, 131);
    font-size: 25px;
  }
}
main .descripcion .izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
}
@media (max-width: 750px) {
  main .descripcion div h3 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  main .descripcion div .parrafos {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
}
main .descripcion .messibarcelona {
  width: 200px;
  height: 200px;
}
main .descripcion .barca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 750px) {
  main .descripcion .barca {
    flex-direction: column;
    text-align: center;
  }
}
main .descripcion .barca img {
  width: 200px;
  height: 200px;
}

main {
  margin: 0px 25%;
}
main section div .datitos {
  margin: 10px;
  display: flex;
  text-align: justify;
  align-items: center;
}
main section div .dieguito {
  max-width: 80%;
  width: 450px;
  padding: 10px;
}
main section div .datitos {
  margin: 10px;
  display: flex;
  text-align: justify;
  align-items: center;
}
main section div .datitos {
  margin: 10px;
  display: flex;
  text-align: justify;
  align-items: center;
}
@media (max-width: 750px) {
  main section div .datitos {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
}
main section div .dieguito {
  max-width: 80%;
  width: 450px;
  padding: 10px;
}
main section div .datitos {
  margin: 10px;
  display: flex;
  text-align: justify;
  align-items: center;
}
@media (max-width: 750px) {
  main section div .datitos {
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }
}
main section div .dieguito {
  max-width: 80%;
  width: 450px;
  padding: 10px;
}
main section div .datitos {
  margin: 10px;
  display: flex;
  text-align: justify;
  align-items: center;
}

main {
  margin: 0px 25%;
}

main {
  margin: 0px 25%;
}

header {
  background-color: rgb(9, 179, 209);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* RESPONSIVE DE LA GALERIA  */

/*# sourceMappingURL=estilos.css.map */
