footer{
    background-color: rgb(9, 179, 209);
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        img{
            width: 100px;
            height: 100px;
        }
    }
}
    section{
  display: flex;
  gap: 20px;
        a{
            i{
                font-size: 50px;
                color: black;
            }
        }
        a{
            i{
                font-size: 50px;
                color: black;
            }
        }
        a{
            i{
                font-size: 50px;
                color: black;
            }
        }
    }