header{
    margin-bottom: 5px;
    background-color: rgb(9, 179, 209);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 50px ;
}
    // nav{
    //     div{
    //         a{

    //         }
    //         button{
    //             span{
    //             }
    //         } 
    //         div{
    //             ul{
    //                 li{
    //                     a{
    //                     }
    //                 }
    //                 li{
    //                     a{
    //                     }
    //                 }
    //                 li{
    //                     a{
    //                     }
    //                 }
    //                 li{
    //                     a{
    //                     }
    //                 }
    //             }
    //         }           
    //     }

    // }