header{
    margin-bottom: 5px;
    background-color: rgb(9, 179, 209);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 50px ;
    @media (max-width: 750px){
        header {
            flex-direction: column;
          }
        
    }
    @media screen and (max-width: 500px){
        .header {
            position: static;
    } 
 }
}
