header{
    margin-bottom: 5px;
    background-color: rgb(9, 179, 209);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 50px ;
    @media screen and (max-width: 991px){
    }
    @media screen and (max-width: 500px){
        .header {
            position: static;
    } 
 }
 nav{
    .itemsn{
        @media screen and (max-width: 991px){
            display: flex;
            justify-content: center;

    }
    }
}
}