main {
  margin: 0px 20%;

  h1 {
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
    color: rgba(214, 12, 12, 0.795);
    font-style: italic;
    font-weight: bold;
  }
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    @media  (max-width: 750px){
      display: flex;
      flex-direction: column;
    }
    img {
      width: 325px;
      height: 325px;
      padding: 10px;
    }
  }
  .descripcion {
    margin-left: 10px;
    align-self: center;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    font-style: italic;
    font-weight: bold;

    .juego {
      text-align: center;
      color: chocolate;
      font-style: italic;

      @media  (max-width: 750px){
      color: rgb(131, 15, 131);
      font-size: 25px;
    }
    }

    .izquierda {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-direction: row-reverse;
    }
      div{
        h3{
          font-style: italic;

          @media  (max-width: 750px){
          font-weight: bold;
          font-size: 18px;
          display: flex;
          flex-direction: column;
        }
        }
        .parrafos{
          font-weight: bold;
          font-style: italic;

          @media  (max-width: 750px){
            font-size: 16px;
            display: flex;
            flex-direction: column;
          }
        }
      }
       .messibarcelona{
        width: 200px;
        height: 200px;
       }

    .barca {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @media  (max-width: 750px){
          flex-direction: column;
          text-align: center;
        }
    
        img {
          width: 200px;
          height: 200px;
        }
      }
  }
}
