main {
    margin: 0px 25%;
    section{
        div{
            .datitos{
                margin: 10px;
                display: flex;
                text-align: justify;
                align-items: center;
            }
            .imgvida{
                width: 200px;
                height: 200px;
            }
            .dieguito{
                
                max-width: 80%;
                width: 450px;
                padding: 10px;
            }
            .datitos{
                margin: 10px;
                display: flex;
                text-align: justify;
                align-items: center;
            }
        }
    
        div{
            .datitos{
                margin: 10px;
                display: flex;
                text-align: justify;
                align-items: center;
                @media  (max-width: 750px){
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                }
            }
            .dieguito{
                max-width: 80%;
                width: 450px;
                padding: 10px;
            }
        }
        div{
            .datitos{
                margin: 10px;
                display: flex;
                text-align: justify;
                align-items: center;
                @media  (max-width: 750px){
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                }
            }
            .dieguito{
                max-width: 80%;
                width: 450px;
                padding: 10px;
            }
            .datitos{
                margin: 10px;
                display: flex;
                text-align: justify;
                align-items: center;
            }
        }
    }
}
